@import 'colors.css';
@import 'button.css';
@import 'text-fields.css';

* {
  -fx-text-fill: -primary-text;

  /* See https://github.com/palexdev/MaterialFX/blob/main/demo/src/main/resources/io/github/palexdev/materialfx/demo/css/MFXColors.css */
  -mfx-text-he: -primary-text; /* High Emphasis */
  -mfx-text-me: -secondary-text; /* Medium Emphasis*/
  -mfx-text-disabled: -primary-background; /* Disabled */
}
