# Next.js
public-hoist-pattern[]=*@nextui-org/*

# Jest
public-hoist-pattern[]=@types*
public-hoist-pattern[]=@jest/expect
public-hoist-pattern[]=@testing-library/jest-dom

# The settings in .npmrc seem to override the default settings
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
